.section-main{
  padding: 60px 0;

  .page-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 0;
  }

  .sub-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    font-weight: 400;
  }

  &.section-page-title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #fff;
  }

  &.bg-gray{
    background-color: #f7fafb !important;
  }

  .heading-row{
    text-align: center;

    h2{
      font-size: 40px;
      font-weight: bold;
      line-height: 47px;
    }

    p{
      font-size: 18px;
      font-weight: 300;
      line-height: 25px;
    }
  }
}