.section-main{
  padding: 60px 0;

  &.bg-gray{
    background-color: #f7fafb !important;
  }

  .heading-row{
    text-align: center;

    h2{
      font-size: 40px;
      font-weight: bold;
      line-height: 47px;
    }

    p{
      font-size: 18px;
      font-weight: 300;
      line-height: 25px;
    }
  }
}