.sidebar .box .heading {
  margin-bottom: 30px;
}
.box .heading {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 0;
  color: #586269;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}