header{
  background-color: #fff;
  color: #586269;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -webkit-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;

  &.transparent:not(.over) {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }

  .navbar{
    padding:0;
  }

  .navbar-expand-lg {
    @media (min-width: 992px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }

  .container {
    max-width: 1430px;
    width: 100%;
  }

  .navbar-header{
    .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      height: 80px;
      display: flex;
      align-items: center;

      &>img {
        max-height: 100%;
      }

      .navbar-brand-white{
        display: none;
      }
      .navbar-brand-normal{
        display: block;
      }
    }

    .navbar-nav {
      padding: 0;
      margin: 0;

      &>li {
        list-style: none;
        padding-left: 9px;
        padding-right: 10px;

        &.multi-childs {
          &>a {
            float: left;
          }
          &>span {
              display: flex;
              align-items: center;
              height: 100%;
              float: left;
              margin-left: 15px;
              margin-right: 15px;
          }
        }

        &>a {
          color: #586269;
          font-family: 'Roboto', sans-serif;
          height: 80px;
          padding: 0 !important;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }

  &.transparent:not(.over) {
    .navbar-nav {
      &>li>a {
        color: #fff;
      }
    }
    .navbar-brand {
      .navbar-brand-white{
        display: block;
      }
      .navbar-brand-normal{
        display: none;
      }
    }
  }
}

.navbar-header .navbar-nav>li.dropdown-right .dropdown-menu {
  left: auto;
  right: 0;
}

.navbar-header .navbar-nav>li .dropdown-menu {
  left: 12px;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  color: #586269;
  margin-top: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem;
}

.dropdown-menu .nav-item .nav-link {
  padding-left: 16px;
  padding-right: 16px;
}
