.section-tab-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #d0d7d9;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.single-tab {
  font-size: 0;
  margin-bottom: 0;

  &>li {
    margin-right: 80px;
    display: inline-block;

    &:last-child{
      margin-right: 0;
    }

    &>a {
      text-decoration: none;
      color: #7e888c;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      display: block;
      padding-top: 13px;
      padding-bottom: 14px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: transparent;
        opacity: 0;
        transition: ease-out 200ms;
      }
    }

    &:hover{
      &>a{
        color: #e67e22;

        &:after {
          opacity: 1;
          background-color: #e67e22;
          content: '';
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: transparent;
          opacity: 0;
          transition: ease-out 200ms;
        }

      }

    }

    &.active{
      &>a {
        color: #e67e22;

        &:after{
          opacity: 1;
          background-color: #e67e22;
        }

      }
    }
  }
}

.form-job-filter {
  padding-left: 40px;
}
