.section-post-job .sub-title {
  margin-bottom: 60px;
}
.form {
  &.form-post-job {
    .form-group {
      margin-bottom: 48px;
    }

    .form-control-label.md {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 25px;
    }

    .form-row{
      margin-bottom: 20px;
    }

    .form-group-auth {
      margin-bottom: 26px;

      .form-auth-embed {
        background-color: #f7fafb;

        .heading {
          padding: 25px 32px;
          h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }

          .heading-controls {
            align-items: center;
            text-align: right;
            color: #7e888c;
            font-size: 12px;
            line-height: 19px;

            .btn.btn-sm {
              font-size: 12px;
              line-height: 19px;
              padding: 2px 8px;
            }
          }
        }

        .content {
          padding: 0 32px 16px 32px;
        }

        .form-group {
          margin-bottom: 16px;
        }

        .form-control {
          background-color: transparent;
        }

      }
    }
  }

  .form-group-number{
    .form-control-number{
      display: flex;
      height: 32px;
      width: 32px;
      background-color: #2e8ae1;
      color: #fff;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

.editor-holder{
  height: 100px;
  margin-bottom: 48px;
}

.material-group {
  position: relative;

  input.form-control {
    background-color: transparent;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border: none;
    border-radius: 0;
    padding-left: 0;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    line-height: 42px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #919ca4;
    font-size: 12px;
  }

  .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #d0d7d9;
    width: 100%;
    height: 1px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background: #2e8ae1;
      width: 0;
      height: 1.5px;
      -webkit-transition: .2s ease;
      transition: .2s ease;
    }

    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
}

.material-group{
  position:relative
}
.material-group input.form-control{
  border-left-color:transparent;
  border-right-color:transparent;
  border-top-color:transparent;
  border-radius:0;
  padding-left:0
}
.material-group input.form-control:focus ~ label,.material-group input.form-control.is-active ~ label{
  color:#9d9d9d;
  -webkit-transform:translate(-12%,-50%) scale(0.75);
  transform:translate(-12%,-50%) scale(0.75)
}
.material-group input.form-control:focus ~ .bar:before,.material-group input.form-control:focus ~ .bar:after,.material-group input.form-control.is-active ~ .bar:before,.material-group input.form-control.is-active ~ .bar:after{
  width:50%
}
.material-group label{
  position:absolute;
  top:0;
  left:0;
  font-weight:400;
  line-height:42px;
  -webkit-transition:.2s ease;
  transition:.2s ease;
  color:#919ca4;
  font-size:12px
}
.material-group .bar{
  position:absolute;
  left:0;
  bottom:0;
  background-color:#d0d7d9;
  width:100%;
  height:1px
}
.material-group .bar:before,.material-group .bar:after{
  content:'';
  position:absolute;
  background:#2e8ae1;
  width:0;
  height:1.5px;
  -webkit-transition:.2s ease;
  transition:.2s ease
}
.material-group .bar:before{
  left:50%
}
.material-group .bar:after{
  right:50%
}
.auth-social{
  font-size:0
}
.auth-social>a{
  display:inline-block;
  margin-right:15px;
  vertical-align:middle
}
.auth-social>a:last-child{
  margin-right:0
}
.auth-social>a:hover{
  text-decoration:none
}
.auth-social>span{
  display:inline-block;
  font-size:16px;
  line-height:16px;
  margin-right:20px;
  vertical-align:middle
}
.auth-social.sm>span{
  display:block;
  margin-bottom:15px;
  margin-right:0
}
.form-auth.horizontal{
  display:table;
  margin-left:-15px;
  margin-right:-15px
}
.form-auth.horizontal .col-left,.form-auth.horizontal .col-middle,.form-auth.horizontal .col-right{
  display:table-cell;
  padding-left:15px;
  padding-right:15px
}
.form-auth.horizontal .col-left{
  width:55%;
  vertical-align:top
}
.form-auth.horizontal .col-right{
  vertical-align:middle
}
.form-auth.horizontal .col-middle{
  vertical-align:middle
}
.form-auth.horizontal .col-middle.divider-text.vertical:before{
  left:32px
}
.form-auth.horizontal .form-button{
  margin-top:9px;
  margin-bottom:24px
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.media-freelancer-list .media-stats.horizontal>li:last-child {
  padding-right: 0;
  border-right-color: transparent;
}

.media-freelancer-list .media-stats.horizontal>li {
  display: flex;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #d0d7d9;
  align-items: center;
  margin-bottom: 10px;
}

.freelancer-featured>li .media-stats>li {
  font-size: 12px;
}

.media-stats.horizontal>li {
  margin-right: 20px;
}

.media-stats li{
  white-space: nowrap;
}

.media-freelancer-list .hover {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 0;
  display: flex;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: #2e89e1;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.media-freelancer-list .hover span {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.media-freelancer-list:hover .hover {
  width: 36%;
}

.box:not(.box-detail):last-child {
  margin-bottom: 0;
}

.sidebar-right .box .heading {
  margin-bottom: 20px;
}

.sidebar .box .heading {
  margin-bottom: 30px;
}

.box .heading.lg {
  font-size: 24px;
  line-height: 32px;
}

.service-featured>li .media-service {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ecf0f1;
}

.media-service .service-img {
  width: 106px;
  margin-right: 10px;
  position: relative;
}

.media-service .service-img img {
  max-width: 100%;
}

.media-service .service-img a {
  display: block;
  z-index: 5;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.media-service .service-img:after {
  z-index: 1;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: url(https://fvstaticws.freelancerviet.vn/fv3templates/default/images/button-shopping2x.png) center center no-repeat rgba(0,0,0,0.3);
  background-size: 32px 32px;
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.media-service:hover .service-img:after {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.media-service .name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 12px;
}

.media-service .name a {
  color: #586269;
  text-decoration: none;
}

.media-service .info {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 13px;
}

.media-service .info .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-sm {
  padding: 3px 13px;
  font-size: 12px;
  line-height: 16px;
}

.btn-outline-primary {
  border-color: #2e8ae1;
  background-color: transparent;
  color: #2e8ae1;
}

.media-service .info .text-muted {
  float: right;
  color: #abb1b3;
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
}

.form-auth-embed .heading .col-right .heading-controls {
  @media (max-width: 767px) {
    text-align: left !important;
  }
}

.form .form-control {
  height: 42px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: none;
  font-size: 16px;
  color: #586269;
}

.section-post-job .sidebar {
  @media (max-width: 767px) {
    padding-left: 0;
    border-left: none 0;
    margin-top: 30px;
  }
}

.box .box-heading-right {
  @media (max-width: 991px) {
    float: none !important;
    margin-bottom: 20px;
    display: block;
    margin-top: 0;
  }
}

.sidebar-right .box .heading {
  @media (max-width: 991px) {
    display: block;
    margin-bottom: 7px;
  }
}